/bootstrap/compiled.php
/bootstrap/cache/
.env
.env.*.php
.env.php
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
updates/
composer.lock
*.lock
resources/lang/en.json

.env
updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
matrimonial_laravel.zip

# Large files - prevent from being committed
public/frontend/assets/srcamain/images/drive-download-20241120T105628Z-001.zip
public/frontend/assets/srcamain/images/drive-download-20241120T111519Z-001.zip
public/frontend/assets/srcamain/images/nutrihealthbackup.zip
