.checkout-left {
    margin-top: 40px;
}

a.custom-btn{
    text-align:center;
    border: 1px solid #000;
    display: block;
    color: #000;
    padding: 8px 0;
    font-weight: 600;
    width: 85%;
}

.guest-form{
    width: 85%;
}

.guest-form .form-group label {
    margin-bottom: 5px;
}

@media (min-width: 576px){
    .mt-sm-5 {
        margin-top: 1.25rem !important;
    }
}

p.color {
    background-color: #fff;
    height: 25px;
    border-radius: 50%;
    width: 25px;
    border: 1px solid #dadada;
    margin: 8px 0;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
}

p.color .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

p.color .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

p.color:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

div.size-box {
    border: 1px solid #dadada;
    margin-right: 10px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    padding-top: 2px;
    text-align: center;
}

.occasion-cart {
    display: flex;
}

.occasion-cart .snipcart-details {
    width: 50%;
}

@media (min-width: 998px){
    #size-chart {
        margin-top: 50px;
        margin-left: 100px;
    }
}

.padding_0 {
    padding: 0;
}

.mv-15 {
    margin: 0 0 10px 0;
}

.flex-row {
    display: flex;
}

.border-top {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.newCouponName {
    width: 80%;
    border: 1px solid #c2c2c2;
}

.coupon-button {
    width: 20%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #c2c2c2;
}

#related_products h5.heading{
    font-size: 16.6px;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 12px !important;
    border-bottom: 1px solid #000;
    font-style: normal;
}

p.related_product {
    text-align: center;
    color: #000;
}

.required:after {
    content:" *";
    color: red;
  }
  
@media(min-width: 998px) {
    #search_div {
        width: 60%;
    }
}   

p.thankyou_message {
    font-size: 22px;
    color: #000;
}

p.thankyou_help_text {
    font-size: 18px;
    color: #000;
    margin-top: 50px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav ul {
    margin-top: 15px !important;
}

.sidenav ul li {
    border-top: 1px solid #d1d1d1;
}

.sidenav ul li:last-child {
   border-bottom: 1px solid #d1d1d1;
}

.sidenav ul li a {
  padding: 10px 0;
  margin-left: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

@media(min-width: 601px) {
    #navbarSupportedContent .closebtn {
      display: none;
    }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 600px) {
  #navbarSupportedContent{
      display: none !important;
  }
}

.spacing {
    margin-top: 10px;
    padding: 0;
    display: flex;
}

.spacing .col-md-8,
.spacing .col-md-4 {
    padding: 4%;
}

.spacing .col-md-8 h5 {
    font-size: 18px;
}

.checkout-table {
    margin-top: 10px;
}

.checkout-table thead tr th {
    font-size: 13px;
    border-top: none;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

.close1 {
    position: relative;
    top: 0;
    right: 0;
}

.value-minus, .value-plus {
    height: 25px;
    width: 25px;
    color: #000;
}

.value {
    width: 25px;
    height: 25px;
    padding: 0px; 
}

.summary-detail-box {
    margin: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.summary-detail-box p,
.total-amount p {
    display: flex;
    justify-content: space-between;
}

.summary-detail-box p span,
.total-amount p span {
    color: #000;
}

.total-amount p span {
    font-size: 18px;
    font-weight: 600;
}

.mobile-view {
    display: none;
}

@media(max-width: 600px) {
    .spacing {
        display: flex;
        flex-direction: column;
    }
    
    /*.checkout-table {*/
    /*    display: none !important;*/
    /*}*/
    
    .product-detail-checkout {
        flex-direction: row !important;
        width: 100%;
        justify-content: space-between !important;
    }
    
    .mobile-checkout-details {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        text-align: center;
        color: #000;
    }
    
    .mobile-checkout-details div p {
        color: #000;
    }
    
    .mobile-view {
        display: block;
    }
    
    .value {
        line-height: 24px;
    }
}

.main-row {
    flex-wrap: unset;
}

.product-side {
    display: flex;
    flex-wrap: wrap;
}

h4.panel-title a {
    color: #000;
    font-size: 15px;
    font-weight: 400;
}

.list-group-item {
    border: none;
    padding: 0.2rem 0.5rem;
}

.list-group-item a {
   color: #000;
}

ul.product-type-list {
    height: 200px;
    overflow-y: scroll;
}

div.panel-group {
    margin-bottom: 15px !important;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.main-row .col-sm-3 {
    max-width: 20%;
}

@media(max-width: 600px) {
    #related_products{
        margin-top: 30px;
    }
}
